@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary-100: 200, 200, 201;
        --color-primary-200: 162, 170, 172;
        --color-primary-300: 118, 127, 132;
        --color-primary-400: 73, 84, 91;
        --color-primary-500: 28, 40, 51;
        --color-primary-600: 23, 31, 40;
        --color-primary-700: 17, 23, 29;
        --color-primary-800: 11, 14, 19;
        --color-primary-900: 5, 6, 8;

        --color-base: #1c2833;
        --color-base-dark: #f8f9f9;
        --color-muted: #84918b;
        --color-inverted: #f8f9f9;
        --color-fill: #c8c8c9;

        --color-light: #f8f9f9;
        --color-dark: #1c2833;

        --color-accent: #171f28;
        --color-accent-hover: #11171d;
        --color-background: #cfd3d4;

        --color-success: #239b56;
        --color-info: #3498db;
        --color-warning: #f39c12;
        --color-danger: #c0392b;
    }

    .dark {
        --color-base: #f8f9f9;
        --color-muted: #84918b;
        --color-inverted: #2d2d2d;
        --color-fill: #1c1c1c;
        --color-accent: #c8c8c9;
        --color-accent-hover: #ffffff;
        --color-background: #11171d;

        .admin-theme {
            --color-base: #f8f9f9;
            --color-muted: #84918b;
            --color-inverted: #1c2833;
            --color-fill: #8b4584;
            --color-accent: #c8c8c9;
            --color-accent-hover: #ffffff;
            --color-background: #11171d;
            --color-foreground: #4B5563;
        }
    }

    .admin-theme {
        --color-primary-100: 213, 178, 178;
        --color-primary-200: 218, 169, 177;
        --color-primary-300: 195, 132, 158;
        --color-primary-400: 169, 99, 145;
        --color-primary-500: 139, 69, 132;
        --color-primary-600: 116, 49, 117;
        --color-primary-700: 85, 32, 91;
        --color-primary-800: 53, 18, 62;
        --color-primary-900: 23, 7, 30;

        --color-base: #1c2833;
        --color-muted: #84918b;
        --color-inverted: #f8f9f9;
        --color-fill: #d5b2b2;

        --color-accent: #d5b2b2;
        --color-accent-hover: #daa9b1;
        --color-background: #e7eaea;
        --color-foreground: #f8f9f9;

        h1, h2, h3, h4, h5, h6 {
            @apply font-bold mb-2
        }

        h1 {
            @apply text-2xl
        }

        h2 {
            @apply text-xl
        }

        h3 {
            @apply text-lg
        }

        h4 {
            @apply text-base

        }

        h5 {
            @apply text-sm

        }

        h6 {
            @apply text-xs

        }

        table.default {
            th {
                @apply bg-skin-foreground border-b-2 border-gray-200 dark:border-gray-500
            }

            .even {
                @apply even:bg-gray-200/70 dark:bg-gray-800/50
            }

            tr {
                &.div-y {
                    @apply border-b border-gray-300 dark:border-gray-600 last:border-b-0
                }

                .div-x {
                    @apply border-r border-gray-300 dark:border-gray-600 last:border-r-0
                }

                @apply border-0;

                td {
                    @apply border-0;
                }
            }
        }

        .input {
            @apply
            px-3 py-2
            placeholder-gray-500 dark:placeholder-gray-400
            bg-white dark:bg-inherit
            outline-transparent
            border border-gray-300 dark:border-gray-700
            focus:border-gray-300 focus:dark:border-gray-700
            focus:ring
            focus:outline-none
            focus:ring-skin-primary focus:dark:ring-skin-primary
            focus:ring-opacity-50
            disabled:opacity-60
            rounded-md
            block
            w-full
        }

        @apply text-skin-base

    }

    .input {
        @apply
        px-3 py-2
        placeholder-gray-300 dark:placeholder-gray-300
        bg-white dark:bg-inherit
        outline-transparent
        border border-gray-300 dark:border-gray-700
        focus:border-gray-300 focus:dark:border-gray-700
        focus:ring
        focus:outline-none
        focus:ring-skin-primary focus:dark:ring-skin-primary
        focus:ring-opacity-50
        disabled:opacity-60
        block
        w-full
    }


    body {
        @apply text-skin-base
    }

    h1 {
        @apply text-5xl font-bold
    }

    h2 {
        @apply text-4xl font-bold
    }

    h3 {
        @apply text-3xl font-bold
    }

    h4 {
        @apply text-2xl font-bold

    }

    h5 {
        @apply text-xl font-bold

    }

    h6 {
        @apply text-lg font-bold

    }

    .container-fluid {
        @apply xl:container 2xl:container px-4 sm:px-6
    }

}

@layer components {
    .btn {
        @apply tracking-wide uppercase inline-block text-xs px-4 py-2 rounded-md font-semibold border border-transparent focus:outline-none focus:ring disabled:opacity-25 transition
    }

    .btn-success {
        @apply text-white  bg-green-600 hover:bg-green-700 active:bg-green-900 focus:border-green-700 focus:ring-green-300
    }

    .btn-default {
        @apply text-white bg-gray-400 dark:bg-gray-500 hover:bg-gray-500 hover:dark:bg-gray-700 active:bg-gray-900 focus:border-gray-700 focus:dark:border-gray-800 focus:ring-gray-300 focus:dark:ring-gray-500
    }

    .btn-info {
        @apply text-white bg-blue-600 hover:bg-blue-700 active:bg-blue-900 focus:border-blue-700 focus:ring-blue-300
    }

    .btn-warning {
        @apply text-white bg-orange-600 hover:bg-orange-700 active:bg-orange-900 focus:border-orange-700 focus:ring-orange-300
    }

    .btn-danger {
        @apply text-white bg-red-600 hover:bg-red-700 active:bg-red-900 focus:border-red-700 focus:ring-red-300
    }

    .btn-neutral {
        @apply text-skin-base hover:text-white bg-transparent hover:bg-gray-400 hover:bg-opacity-50 hover:bg-opacity-50
    }

    .btn-primary {
        @apply text-white bg-skin-primary-600 hover:bg-skin-primary-700 active:bg-skin-primary-900 focus:border-skin-primary-700 focus:ring-skin-primary-300
    }

    .btn-secondary {
        @apply text-skin-base  bg-transparent border-skin-muted
    }
}
